/* Slide */
.slide-wrapper {
  // width: 80vw;
  // max-width: 800px;
  overflow: hidden;

  .slide {
    display: flex;
    padding: 10px;

    li {
      flex-shrink: 0;
      width: 80vw;
      max-width: 800px;
      margin: 0 20px;
      opacity: 0.8;
      transform: scale(.8);
      filter: grayscale(.8) blur(5px);
      transition: .4s;
    }

    li.active {
      opacity: 1;
      filter: grayscale(0) blur(0px);
      transform: scale(1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    }
    // transform: translate3d(-1259px, 0px, 0px);
  }
}

.arrow-nav {
  width: 80vw;
  max-width: 800px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  button {
    cursor: pointer;
    border: none;
    background: #fb5;
    color: #fff;
    padding: 5px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    // text-indent: 30px;
    border-radius: 50%;

    span {
      display: none !important;
    }
    &.prev::before {
      content: "➤";
      display: block;
      transform: rotate(180deg);
      margin-right: 2px;
    }
    &.next::after {
      content: "➤";
      margin-left: 2px;
    }
    &:active, &:hover {
      background: darken(#fb5, 20);
    }

  }
}

ul[data-control='slide'] {
  width: 80vw;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  li {
    a {
      display: block;
      width: 12px;
      height: 12px;
      background: #fb5;
      overflow: hidden;
      text-indent: 20px;
      border-radius: 50%;
    }
    &.active a, & a:hover {
      background: darken(#fb5, 20);
    }
  }
}
