.slide-wrapper {
  // width: 80vw;
  // max-width: 800px;
  overflow: hidden;

  .slide {
    display: flex;

    li {
      flex-shrink: 0;
      width: 80vw;
      max-width: 800px;
      margin: 0 20px;
    }
    // transform: translate3d(-1259px, 0px, 0px);
  }
}
